# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: 编译下载

on:
  workflow_dispatch:
  push:
    branches:
      - v2

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v6

      - name: 安装环境
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: 编译程序
        run: sh build.sh

      - name: 上传产物
        uses: actions/upload-artifact@v5
        with:
          name: ssoc-broker
          path: |
            ssoc-broker_*
            resources/log/