# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: 普通编译

on:
  workflow_dispatch:
  push:
    branches:
      - v2

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goos: [ linux, windows, darwin ]
        goarch: [ amd64, arm64 ]
        exclude:
          - goos: windows
            goarch: arm64   # 排除不用的组合

    steps:
      - name: 检出代码
        uses: actions/checkout@v6

      - name: 安装 Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: 编译程序
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          echo "正在编译 $GOOS - $GOARCH"
          sh build.sh

      - name: 上传产物
        uses: actions/upload-artifact@v5
        with:
          name: ssoc-broker-${{ matrix.goos }}-${{ matrix.goarch }}
          path: |
            ssoc-broker_*
            resources/log/
