# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: 静态编译

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: 编译 libpcap
        run: |
          wget https://www.tcpdump.org/release/libpcap-1.10.5.tar.gz
          tar -xzf libpcap-1.10.5.tar.gz
          cd libpcap-1.10.5
          ./autogen.sh
          ./configure --enable-static --disable-shared
          make -j$(nproc)
          sudo make install

          # 确保 libpcap.a 存在
          ls -l /usr/local/lib/libpcap.a

      - name: 拉取代码
        uses: actions/checkout@v6

      - name: 安装 Go SDK
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: 编译 linux-amd64
        run: sh build-static.sh

      - name: 上传产物
        uses: actions/upload-artifact@v5
        with:
          retention-days: 30
          name: ssoc-broker
          path: ssoc-broker_*
