name: 静态编译

on:
  #  push:
  #    branches:
  #      - main
  # pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - fixbug/*

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: 编译 libpcap
        run: |          
          # 下载并编译静态 libpcap
          wget http://www.tcpdump.org/release/libpcap-1.10.5.tar.gz
          tar -xzf libpcap-1.10.5.tar.gz
          cd libpcap-1.10.5
          ./autogen.sh
          ./configure --enable-static --disable-shared
          make -j$(nproc)
          sudo make install
          cd ..
          
          # 确保 libpcap.a 存在
          ls -l /usr/local/lib/libpcap.a

      - name: 安装环境
        uses: actions/setup-go@v6
        with:
          go-version: 1.24
          check-latest: true

      - name: 拉取代码
        uses: actions/checkout@v5

      - name: 编译程序
        run: |
          export CGO_ENABLED=1
          export CC=gcc
          export CGO_CFLAGS="-I/usr/local/include"
          export CGO_LDFLAGS="-L/usr/local/lib -lpcap -static"
          sh build.sh

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: vela-broker-static
          path: vela-broker-*
